org: cctproject
service: lambdapay

provider:
  name: aws
  runtime: nodejs20.x
  stage: dev
  region: eu-west-1
  memorySize: 128
  timeout: 3


  environment:
    USER_POOL_ID:
      Ref: CognitoUserPool
    USER_POOL_CLIENT_ID:
      Ref: CognitoUserPoolClient
    TRANSACTIONS_TABLE: 
      Ref: TransactionsDynamoTable
    BALANCE_TABLE: 
      Ref: BalanceDynamoTable

functions:
  getTransactions:
    handler: lambda/handlers/GetTransactions.handler
    description: Get all transactions
    events:
      - http:
          path: /transactions
          method: get
          cors: true
          authorizer:
            type: COGNITO_USER_POOLS
            authorizerId:
              Ref: ApiGatewayAuthorizer

  getBalance:
    handler: lambda/handlers/GetBalance.handler
    description: Get your balance
    events:
      - http:
          path: /balance
          method: get
          cors: true
          authorizer:
            type: COGNITO_USER_POOLS
            authorizerId:
              Ref: ApiGatewayAuthorizer

  transfer:
    handler: lambda/handlers/Transfer.handler
    description: Transfer an amount
    events:
      - http:
          path: /transfer
          method: post
          cors: true
          authorizer:
            type: COGNITO_USER_POOLS
            authorizerId:
              Ref: ApiGatewayAuthorizer
  
  onUserSignup:
    handler: lambda/handlers/OnUserSignup.handler
    events:
      - cognitoUserPool:
          pool: ${self:provider.stage}-user-pool
          trigger: PostConfirmation
          existing: true
          forceDeploy: true



resources:
  Resources:
    CognitoUserPool:
      Type: AWS::Cognito::UserPool
      Properties:
        UserPoolName: ${self:provider.stage}-user-pool
        UsernameAttributes:
          - email
        AutoVerifiedAttributes:
          - email

    CognitoUserPoolClient:
      Type: AWS::Cognito::UserPoolClient
      Properties:
        ClientName: ${self:provider.stage}-user-pool-client
        UserPoolId:
          Ref: CognitoUserPool
        ExplicitAuthFlows:
          - ADMIN_NO_SRP_AUTH
          - USER_PASSWORD_AUTH
        GenerateSecret: false

    ApiGatewayAuthorizer:
      Type: AWS::ApiGateway::Authorizer
      Properties:
        Name: CognitoAuthorizer
        Type: COGNITO_USER_POOLS
        IdentitySource: method.request.header.Authorization
        RestApiId:
          Ref: ApiGatewayRestApi
        ProviderARNs:
          - Fn::GetAtt:
              - CognitoUserPool
              - Arn

    TransactionsDynamoTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:service}-transactions-${self:provider.stage}
        AttributeDefinitions:
          - AttributeName: userId
            AttributeType: S
          - AttributeName: transactionId
            AttributeType: S
        KeySchema:
          - AttributeName: userId
            KeyType: HASH
          - AttributeName: transactionId
            KeyType: RANGE
        BillingMode: PAY_PER_REQUEST
      
    BalanceDynamoTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:service}-balance-${self:provider.stage}
        AttributeDefinitions:
          - AttributeName: userId
            AttributeType: S
        KeySchema:
          - AttributeName: userId
            KeyType: HASH
        BillingMode: PAY_PER_REQUEST
