# "org" ensures this Service is used with the correct Serverless Framework Access Key.
org: cctproject
service: lambdapay

provider:
  name: aws
  runtime: nodejs20.x
  stage: 'dev'
  region: 'eu-west-1'
  memorySize: 128
  timeout: 3

functions:
  getTransactions:
    handler: lambda/handlers/GetTransactions.handler
    description: Get all transactions 
    events:
      - http:
            path: /transactions
            method: get

