org: cctproject
service: lambdapay

provider:
  name: aws
  runtime: nodejs20.x
  stage: dev
  region: eu-west-1
  memorySize: 512
  timeout: 10

  environment:
    USER_POOL_ID:
      Ref: CognitoUserPool
    USER_POOL_CLIENT_ID:
      Ref: CognitoUserPoolClient
    TRANSACTIONS_TABLE: 
      Ref: TransactionsDynamoTable
    BALANCE_TABLE: 
      Ref: BalanceDynamoTable
    REQUESTS_TABLE:
      Ref: RequestsDynamoTable
    CONNECTIONS_TABLE:
      Ref: ConnectionsDynamoTable
    WEBSOCKET_API_ID:
      Ref: WebsocketsApi
    STAGE: ${self:provider.stage}

  iamRoleStatements:
    - Effect: Allow
      Action:
        - dynamodb:Query
        - dynamodb:GetItem
        - dynamodb:PutItem
        - dynamodb:UpdateItem
        - dynamodb:DeleteItem
        - dynamodb:Scan
      Resource:
        - Fn::GetAtt:
            - TransactionsDynamoTable
            - Arn
        - Fn::GetAtt:
            - BalanceDynamoTable
            - Arn
        - Fn::GetAtt:
            - RequestsDynamoTable
            - Arn
        - Fn::GetAtt:
            - ConnectionsDynamoTable
            - Arn
        - Fn::Sub:
            - "${TableArn}/index/*"
            - TableArn:
                Fn::GetAtt:
                  - TransactionsDynamoTable
                  - Arn
        - Fn::Sub:
            - "${TableArn}/index/*"
            - TableArn:
                Fn::GetAtt:
                  - BalanceDynamoTable
                  - Arn
        - Fn::Sub:
            - "${TableArn}/index/*"
            - TableArn:
                Fn::GetAtt:
                  - RequestsDynamoTable
                  - Arn
    - Effect: Allow
      Action:
        - execute-api:ManageConnections
      Resource:
        - Fn::Sub: "arn:aws:execute-api:${AWS::Region}:${AWS::AccountId}:*/*/POST/@connections/*"
        - Fn::Sub: "arn:aws:execute-api:${AWS::Region}:${AWS::AccountId}:*/*/*"
    - Effect: Allow
      Action:
        - cognito-idp:ListUsers
        - cognito-idp:AdminGetUser
      Resource:
        - Fn::GetAtt:
            - CognitoUserPool
            - Arn

functions:
  getTransactions:
    handler: lambda/handlers/GetTransactions.handler
    description: Get all transactions
    events:
      - http:
          path: /transactions
          method: get
          cors: true
          authorizer:
            type: COGNITO_USER_POOLS
            authorizerId:
              Ref: ApiGatewayAuthorizer

  getBalance:
    handler: lambda/handlers/GetBalance.handler
    description: Get your balance
    events:
      - http:
          path: /balance
          method: get
          cors: true
          authorizer:
            type: COGNITO_USER_POOLS
            authorizerId:
              Ref: ApiGatewayAuthorizer

  transfer:
    handler: lambda/handlers/Transfer.handler
    description: Transfer an amount
    events:
      - http:
          path: /transfer
          method: post
          cors: true
          authorizer:
            type: COGNITO_USER_POOLS
            authorizerId:
              Ref: ApiGatewayAuthorizer

  requestMoney:
    handler: lambda/handlers/RequestMoney.handler
    description: Request money from another user
    events:
      - http:
          path: /request
          method: post
          cors: true
          authorizer:
            type: COGNITO_USER_POOLS
            authorizerId:
              Ref: ApiGatewayAuthorizer

  getRequests:
    handler: lambda/handlers/GetRequests.handler
    description: Get pending money requests
    events:
      - http:
          path: /requests
          method: get
          cors: true
          authorizer:
            type: COGNITO_USER_POOLS
            authorizerId:
              Ref: ApiGatewayAuthorizer

  handleRequest:
    handler: lambda/handlers/HandleRequest.handler
    description: Accept or reject a money request
    events:
      - http:
          path: /request/{requestId}/respond
          method: post
          cors: true
          authorizer:
            type: COGNITO_USER_POOLS
            authorizerId:
              Ref: ApiGatewayAuthorizer
  
  onUserSignup:
    handler: lambda/handlers/OnUserSignup.handler
    events:
      - cognitoUserPool:
          pool: ${self:provider.stage}-user-pool
          trigger: PostConfirmation
          existing: true
          forceDeploy: true

  # WebSocket handlers
  websocketConnect:
    handler: lambda/handlers/websocket/Connect.handler
    description: Handle WebSocket connections
    events:
      - websocket:
          route: $connect

  websocketDisconnect:
    handler: lambda/handlers/websocket/Disconnect.handler
    description: Handle WebSocket disconnections
    events:
      - websocket:
          route: $disconnect

  websocketDefault:
    handler: lambda/handlers/websocket/Default.handler
    description: Handle WebSocket default messages
    events:
      - websocket:
          route: $default



resources:
  Resources:
    CognitoUserPool:
      Type: AWS::Cognito::UserPool
      Properties:
        UserPoolName: ${self:provider.stage}-user-pool
        UsernameAttributes:
          - email
        AutoVerifiedAttributes:
          - email

    CognitoUserPoolClient:
      Type: AWS::Cognito::UserPoolClient
      Properties:
        ClientName: ${self:provider.stage}-user-pool-client
        UserPoolId:
          Ref: CognitoUserPool
        ExplicitAuthFlows:
          - ADMIN_NO_SRP_AUTH
          - USER_PASSWORD_AUTH
        GenerateSecret: false

    ApiGatewayAuthorizer:
      Type: AWS::ApiGateway::Authorizer
      Properties:
        Name: CognitoAuthorizer
        Type: COGNITO_USER_POOLS
        IdentitySource: method.request.header.Authorization
        RestApiId:
          Ref: ApiGatewayRestApi
        ProviderARNs:
          - Fn::GetAtt:
              - CognitoUserPool
              - Arn

    TransactionsDynamoTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:service}-transactions-${self:provider.stage}
        AttributeDefinitions:
          - AttributeName: userId
            AttributeType: S
          - AttributeName: transactionId
            AttributeType: S
        KeySchema:
          - AttributeName: userId
            KeyType: HASH
          - AttributeName: transactionId
            KeyType: RANGE
        BillingMode: PAY_PER_REQUEST
      
    BalanceDynamoTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:service}-balance-${self:provider.stage}
        AttributeDefinitions:
          - AttributeName: userId
            AttributeType: S
        KeySchema:
          - AttributeName: userId
            KeyType: HASH
        BillingMode: PAY_PER_REQUEST

    RequestsDynamoTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:service}-requests-${self:provider.stage}
        AttributeDefinitions:
          - AttributeName: requestId
            AttributeType: S
          - AttributeName: toUserId
            AttributeType: S
          - AttributeName: fromUserId
            AttributeType: S
        KeySchema:
          - AttributeName: requestId
            KeyType: HASH
        GlobalSecondaryIndexes:
          - IndexName: ToUserIndex
            KeySchema:
              - AttributeName: toUserId
                KeyType: HASH
            Projection:
              ProjectionType: ALL
          - IndexName: FromUserIndex
            KeySchema:
              - AttributeName: fromUserId
                KeyType: HASH
            Projection:
              ProjectionType: ALL
        BillingMode: PAY_PER_REQUEST

    ConnectionsDynamoTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:service}-connections-${self:provider.stage}
        AttributeDefinitions:
          - AttributeName: connectionId
            AttributeType: S
        KeySchema:
          - AttributeName: connectionId
            KeyType: HASH
        BillingMode: PAY_PER_REQUEST
        TimeToLiveSpecification:
          AttributeName: ttl
          Enabled: true

  Outputs:
    WebSocketApiId:
      Description: "WebSocket API ID"
      Value:
        Ref: WebsocketsApi
      Export:
        Name: ${self:service}-${self:provider.stage}-websocket-api-id
    
    WebSocketApiUrl:
      Description: "WebSocket API URL"
      Value:
        Fn::Sub: "wss://${WebsocketsApi}.execute-api.${AWS::Region}.amazonaws.com/${self:provider.stage}"
      Export:
        Name: ${self:service}-${self:provider.stage}-websocket-url
